<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav navbar-nav">
        <li>
          {{#if session.isAuthenticated }}
            {{#link-to 'todos' class="navbar-brand"}} ToDos {{/link-to}}
          {{/if}}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isAuthenticated }}
              <a {{ action "invalidateSession" }} class="btn btn-danger">Log out</a>
          {{else}}
              <a class="btn btn-default log">{{#link-to 'login' }}Log In{{/link-to}}</a>
          {{/if}}
        </li>
    </ul>
</nav>
