<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav navbar-nav">
        <li>
          {{#if session.isAuthenticated }}
            {{#link-to 'todos' class="navbar-brand"}} ToDos {{/link-to}}
          {{/if}}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isAuthenticated }}
              <button {{ action "invalidateSession" }} class="btn btn-danger">Log out</button>
          {{else}}
              <button class="btn btn-info log">{{#link-to 'login' }}Log In{{/link-to}}</button>
          {{/if}}
        </li>
    </ul>
</nav>